.bloglist {
  .feed {
    width: 100%;
    margin-bottom: 12rem;

    .blogpost {
      position: relative;
      width: 100%;
      height: 460px;
      margin-bottom: 12rem;

      &__image {
        width: 100%;
        height: 100%;
        background: black url('../img/woman-in-blue-beanie.jpg') no-repeat
          center top/cover;
      }

      &__body {
        @include floating-body();
        padding: 1rem 1.6rem;
      }

      &__meta-data {
        margin-bottom: 0.8rem;
        text-align: center;
      }

      &__tags,
      &__time {
        font-size: 0.8rem;
      }

      &__tags {
        font-weight: bold;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      &__title {
        a {
          color: $primary-color;
        }

        h3 {
          margin-bottom: 0.4rem;
        }
      }

      &__text {
        margin-bottom: 0.8rem;
        text-align: justify;

        p {
          margin: 0;
        }
      }

      &__read-more {
        text-align: right;
      }
    }

    .latest-article {
      height: auto;

      &__content {
        height: 460px;
      }
    }
  }

  .pagination {
    @include align-center();
    margin-bottom: 3rem;

    a,
    span {
      display: inline-block;
      margin: 0 0.2rem;
      padding: 0.1rem 0.8rem;
      border-radius: 5px;
      color: $primary-color;
      text-decoration: none;
      @include transition300();

      &:hover,
      &.current {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
