@include mediaSm {
  .home {
    .jumbotron {
      &__image {
        margin-right: 1rem;
      }
    }

    .about {
      &__body {
        width: 80%;
      }
    }

    .intro {
      &-card {
        height: 420px;
      }
    }

    .latest-article {
      &__body {
        width: 80%;
      }
    }
  }

  .bloglist {
    .feed {
      .blogpost {
        &__meta-data {
          font-size: 1rem;
        }
      }
    }
  }
}

@include mediaMd {
  .page-header {
    .navbar-info {
      .contact-me {
        display: inline-block;
      }
    }

    .navbar {
      &-toggler {
        display: none;
      }

      &-collapse {
        position: static;
        width: initial;
        background-color: white;
      }

      &-nav {
        li {
          a {
            color: black;
          }

          &.social-media {
            margin-left: 1rem;
            border: none;

            .nav-link {
              margin: 0;
              padding: 0 0.3rem;
              font-size: 1.2rem;
            }
          }

          &.dropdown {
            position: relative;
          }

          .dropdown-menu {
            position: absolute;
            top: 100%;
            left: -18px;
            background-color: white;

            a {
              padding: 0.5rem 0;

              &:not(:last-child) {
                border-bottom: 1px solid $primary-color;
              }
            }

            &.show {
              padding: 0;
            }
          }
        }
      }
    }

    &.transparent {
      .navbar-collapse {
        background-color: transparent;
      }
    }
  }

  .home {
    .jumbotron {
      &__image {
        margin-right: 2rem;
      }
    }

    .about {
      &__title {
        font-size: 7rem;
      }

      &__body {
        width: 70%;
      }
    }

    .intro {
      flex-direction: row;
      justify-content: space-around;
      height: 100vh;

      &-left,
      &-right {
        @include align-center();
        width: 45%;
        height: 100%;
      }

      &-left {
        .intro-card {
          height: 70%;
        }
      }

      &-right {
        flex-direction: column;
        justify-content: space-around;
      }

      &-card {
        height: 35%;
        margin-bottom: 0;

        &__body {
          padding: 1rem;
        }
      }
    }

    .latest-article {
      &__content {
        width: 90%;
      }
    }

    .action-call {
      p {
        font-size: 3rem;
      }
    }
  }

  .bloglist {
    .feed {
      margin-bottom: 2.5rem;

      .blogpost {
        height: 70vh;
        .row {
          height: 100%;
        }

        &__image {
          height: 100%;
        }

        &__body {
          height: 100%;
          overflow: auto;

          .card-body {
            padding: 1.25rem 1.8rem;
          }
        }

        &:not(:last-child) {
          margin-bottom: 3rem;
        }
      }
    }
  }

  .blogpost {
    .post {
      &__body {
        padding: 0 3rem;
      }
    }

    .comment-form-author {
      margin-right: 0.5rem;
    }
  }

  .contact-page {
    .contact {
      &__info {
        border-right: 1px solid #959595;
        border-bottom: none;
      }
    }
  }
}

@include mediaLg {
  .page-header {
    .navbar {
      &-nav {
        li {
          margin: 0 0.4rem;
        }
      }
    }
  }

  .home {
    .about {
      &__body {
        width: 60%;
      }
    }

    .intro {
      justify-content: center;

      &-left,
      &-right {
        width: 35%;
      }

      &-left {
        margin-right: 5rem;
      }
    }

    .latest-article {
      &__content {
        width: 80%;
      }
    }

    .action-call {
      p {
        margin: -1rem 0 -0.6rem;
        font-size: 3.5rem;
      }
    }
  }

  .blogpost {
    .post {
      &__body {
        padding: 0 6rem;
      }
    }

    .comment-section {
      width: 80%;
    }
  }

  .contact-page {
    .wpcf7 {
      &-form {
        p:nth-of-type(1) {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

@include mediaXl {
  .home {
    .about {
      &__body {
        width: 50%;
      }
    }

    .intro {
      &-left,
      &-right {
        width: 30%;
      }

      &-left {
        margin-right: 8rem;
      }
    }

    .latest-article {
      &__content {
        width: 70%;
      }

      &__body {
        width: 70%;
      }
    }
  }

  .bloglist {
    .feed {
      .blogpost {
        &__body {
          .card-body {
            padding: 1.25rem 2.3rem;
          }
        }
      }
    }
  }

  .blogpost {
    .post {
      &__body {
        padding: 0 10rem;
      }
    }

    .comment-section {
      width: 60%;
    }
  }
}
